force-app/main/default/flows/Electron_Motors_Service_Center_Netsuite_Parts_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Retrieve the inventory of necessary parts from the NetSuite system.</description>
        <name>Get_Inventory_from_NetSuite</name>
        <label>NetSuite: Get Inventory</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>PurchaseOrderIDP.invoke</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Confirm_inventory_Levels</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PurchaseOrderIDP.invoke</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Order_Parts</name>
        <label>Notify Service Team</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>ExternalConnect__1XO__Netsuite0_createInventoryItemNotFound</actionName>
        <actionType>externalConnector</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>connection</name>
            <value>
                <stringValue>NetSuite</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <transform>
                    <apexClass>ExternalConnect__Netsuite0_createInventoryItem_IN_body</apexClass>
                    <dataType>Apex</dataType>
                    <isCollection>false</isCollection>
                    <transformValues>
                        <transformValueActions>
                            <outputFieldApiName>externalId</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <elementReference>ins_work_auth_number</elementReference>
                            </value>
                        </transformValueActions>
                        <transformValueActions>
                            <outputFieldApiName>displayName</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <formulaDataType>String</formulaDataType>
                                <formulaExpression>&quot;CUSTOM RIMS - NEON BLUE&quot;</formulaExpression>
                            </value>
                        </transformValueActions>
                        <transformValueActions>
                            <outputFieldApiName>itemId</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <formulaDataType>String</formulaDataType>
                                <formulaExpression>&quot;CUSTOM-RIM-NB-2024-DB12&quot;</formulaExpression>
                            </value>
                        </transformValueActions>
                    </transformValues>
                </transform>
            </value>
        </inputParameters>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Reserve the parts for a customer ahead of their service visit.</description>
        <name>Reserve_Parts_for_Customer</name>
        <label>NetSuite: Reserve Parts for Customer</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>ExternalConnect__1XO__Netsuite0_createSalesOrderNotFound</actionName>
        <actionType>externalConnector</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>connection</name>
            <value>
                <stringValue>NetSuite</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <transform>
                    <apexClass>ExternalConnect__Netsuite0_createSalesOrder_IN_body</apexClass>
                    <dataType>Apex</dataType>
                    <isCollection>false</isCollection>
                    <transformValues>
                        <transformValueActions>
                            <outputFieldApiName>externalId</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <elementReference>ins_work_auth_number</elementReference>
                            </value>
                        </transformValueActions>
                        <transformValueActions>
                            <outputFieldApiName>memo</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <formulaDataType>String</formulaDataType>
                                <formulaExpression>&quot;FR BUMPER SENSOR KIT 2024&quot;</formulaExpression>
                            </value>
                        </transformValueActions>
                        <transformValueActions>
                            <outputFieldApiName>otherRefNum</outputFieldApiName>
                            <transformType>Map</transformType>
                            <value>
                                <formulaDataType>String</formulaDataType>
                                <formulaExpression>&quot;FR-BMPR-SNSR-2024&quot;</formulaExpression>
                            </value>
                        </transformValueActions>
                    </transformValues>
                </transform>
            </value>
        </inputParameters>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Part_Numbers</name>
        <label>Assign Part Numbers</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>part1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR-BMPR-2024-DB12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>part2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR-R+L-HDLGHT-2024-DB12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory_from_NetSuite</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Work authorization number from insurance.</description>
        <name>ins_work_auth_number</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>Confirm_inventory_Levels</name>
        <label>Confirm inventory Levels</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Order_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enough Inventory</defaultConnectorLabel>
        <rules>
            <name>Inventory_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reserve_Parts_for_Customer</targetReference>
            </connector>
            <label>Inventory Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Electron Motors Service Center - Netsuite Parts Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Electron Motors Service Center - Netsuite Parts Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Part_Numbers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>part1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>part2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
