force-app/main/default/flows/Electron_Motors_Service_Intake_with_Procurement_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Forward_to_Accounts_Receivable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Pay</defaultConnectorLabel>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Warranty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Warranty_Claim</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
        <rules>
            <name>Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Insurance_Authorization</targetReference>
            </connector>
            <label>Insurance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Electron Motors - Service Intake with Procurement Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Electron Motors - Service Intake with Procurement Agent</label>
    <orchestratedStages>
        <name>Collect_Data</name>
        <label>Collect Data</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Retrieve_Vehicle_Telemetry_Data</name>
            <actionName>ValidateDL.startProcessV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Retrieve Vehicle Telemetry Data</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Retrieve_Customer_Profile</name>
            <actionName>forecast_guidance__ForecastGuidance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>userId</name>
            </inputParameters>
            <label>Retrieve Customer Profile</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Determine_Service_Requirements</name>
            <actionName>ValidateDL.startProcessV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Determine Service Requirements</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Salesforce_Records</name>
        <label>Create Salesforce Records</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Collect_Data</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Service_Cloud_Case</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Create Service Cloud Case</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Create_Sales_Cloud_Opportunity</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Create Sales Cloud Opportunity</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Warranty_Claim</name>
        <label>Create Warranty Claim</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Custom_Parts_Procurement</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Warranty_Process_API</name>
            <actionName>ValidateDL.startProcessV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Warranty Process API</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Custom_Parts_Procurement</name>
        <label>Custom Parts Procurement</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Finalize_Appointment_and_Case_Details</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Invoke_Agentforce_Procurement_Agent</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Invoke Agentforce Procurement Agent</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Sales_Cloud_Opportunity</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Update Sales Cloud Opportunity</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Accounts_Team_Approval</name>
            <actionName>cms_orch__CMS_ReviewContent</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>aridam.kumar+df24keynote@salesforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>Collect_Data.Status</elementReference>
                </value>
            </inputParameters>
            <label>Accounts Team Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Finalize_Appointment_and_Case_Details</name>
        <label>Finalize Appointment and Case Details</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>NetSuite_Reserve_Parts_at_Service_Center</name>
            <actionName>forecast_guidance__ForecastGuidance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>NetSuite: Reserve Parts at Service Center</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Update_Salesforce_Service_Cloud_Case</name>
            <actionName>forecast_guidance__ForecastGuidance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Update Salesforce Service Cloud Case</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Obtain_Customer_Approval_via_Agentforce</name>
            <actionName>cms_orch__CMS_ReviewContent</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>aridam.kumar+df24keynote@salesforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>Collect_Data.Status</elementReference>
                </value>
            </inputParameters>
            <label>Obtain Customer Approval via Agentforce</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Dispatch_Car_Pickup_Service</name>
            <actionName>ValidateDL.startProcessV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Dispatch Car Pickup Service</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Forward_to_Accounts_Receivable</name>
        <label>Forward to Accounts Receivable</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Custom_Parts_Procurement</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Accounts_Receivable_Payment_Processing</name>
            <actionName>forecast_guidance__ForecastGuidance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Accounts Receivable Payment Processing</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Obtain_Insurance_Authorization</name>
        <label>Obtain Insurance Authorization</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Custom_Parts_Procurement</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Prepare_Insurance_Claim</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Prepare Insurance Claim</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Invoke_Insurance_Claims_API</name>
            <actionName>ValidateDL.startProcessV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Invoke Insurance Claims API</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Extract_Insurance_Approval_via_IDP</name>
            <actionName>forecast_guidance__ForecastGuidance</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>Extract Insurance Approval via IDP</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Salesforce_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
